.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color:#D9D9D9;
}
.header{
  display: flex;
}
.title{
  margin-top: 5%;
  margin-bottom: 5%;
  width: 30%;
  height: 45%;
  display: inline-block;
  color:white;
  font-size: 10px;
  padding: 3px 19px;
  background-color: #a484a4;
}
/* .nikukyu{
  background-image: url(WNMInWeb/src/assets/Group14.png);
} */

.headerContainer{
  display: flex;
}
.content {
  flex: 1;
  overflow-y: auto;
}

.navbar {
  background-color:#B1987F;
  padding: 10px 0;
  height: 40px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar svg {
  font-size: 24px;
  margin-bottom: 5px;
}